
.vs/Project2/v15/Browse.VC.db
.vs/Project2/v15/Browse.VC.opendb
.vs/Project2/v15/ipch/AutoPCH/250638796537940a/COMMON.ipch
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/slnx.sqlite-journal
.vs/Project2/v15/.suo
.vs/Project2/v15/ipch/AutoPCH/3a5adc4461307861/CLIENT.ipch
.vs/Project2/v15/ipch/AutoPCH/4cd8cd869e6362ad/COMMON.ipch
.vs/Project2/v15/ipch/AutoPCH/3a1b6f4bac626ea7/TERMINAL.ipch
.vs/Project2/v15/ipch/AutoPCH/5bece20974c502a9/MSG.ipch
.vs/Project2/v15/ipch/AutoPCH/b650f382770114f4/TERMINAL_UTIL.ipch
.vs/Project2/v15/ipch/AutoPCH/2f27630afa15f032/CLIENT.ipch
