
.vs/Project2/v15/Browse.VC.db
.vs/Project2/v15/Browse.VC.opendb
.vs/Project2/v15/ipch/AutoPCH/250638796537940a/COMMON.ipch
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/slnx.sqlite-journal
.vs/Project2/v15/.suo
.vs/Project2/v15/ipch/AutoPCH/3a5adc4461307861/CLIENT.ipch
.vs/Project2/v15/ipch/AutoPCH/4cd8cd869e6362ad/COMMON.ipch
